<div class="container">
  <div id="aboutCard">
    <div class="row">
      <div class="card-body">
          <h1 class="card-title">About</h1>
          <p class="card-text">Hop on Hoops was founded on the idea that basketball brings people together. By connecting players, coaches, friends, and communities with their local streetball courts, we can change lives. Find, rank, promote, and share the best parks in your neighborhood, create or join pickup games, and connect with Portlands most passionate community.</p>
          <p class="card-text">There’s a court for everyone, no matter your skill level, and all of our courts are free and open to the public.</p><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col align-self-center">
        <div id="aboutCarousel" class="card-body">
          <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h1 class="d-block w-100">"Basketball saved my life. Again. Thank you, Hop On Hoops."</h1>
              </div>
              <div class="carousel-item">
                <h1 class="d-block w-100">"Hop on Hoops is putting Portland's parks to good use."</h1>
              </div>
              <div class="carousel-item">
                <h1 class="d-block w-100">I love creating pickup games for my friends every Saturday.</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
