<div class="card">
  insert map here
</div>
<div class="row">
  <div class="col col-md-8">
    <div class="card">
      <h3>Current Courts</h3>
      <% if @courts != nil%>
        <table>
          <tr>
            <th>Court</th>
            <th>Location</th>
            <th>Rating</th>
          </tr>
        <% @courts.each  do |court| %>
          <tr>
            <td><a href="/courts/<%= court.id%>"><%= court.title %></a></td>
            <td><%= court.location %></td>
            <td><%= court.rating %></td>
          </tr>
        <% end %>
        </table>
      <% end %>
    </div>
  </div>
  <div class="col col-md-4">
    <div class="card">
      <h3>Add a court:</h3>
      <form action="/courts" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" autofocus required class="form-control">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input id ="location" type="text" name="location" required class="form-control"
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" name="description" required class="form-control" rows="8" cols="50"></textarea>
        </div>
        <div class="form-group">
          <label for="hoop_count">Hoop Count</label>
          <input type="number" name="hoop_count" required class="form-control">
        </div>
        <div class="form-group">
          <label for="rating">Rating (1-5)</label>
          <input type="range" name="rating" min="1" max="5" required class="form-control">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
