<!DOCTYPE html>
<html>
  <head>
    <title>Hop On Hoops</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <style>@import url('https://fonts.googleapis.com/css?family=Faster+One|Gruppo');</style>
  </head>
  <body>
    <nav id="navbar-header" class="navbar navbar-light bg-faded sticky-top navbar-toggleable-md">
      <h1 class="navbar-brand" href="/">
        <img id="logo" src="/img/ball.png" class="d-inline-block align-top" alt="Hop on Hoops logo">
        Hop on Hoops
      </h1>
      <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
        <ul class="navbar-nav">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courts">Courts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#BB">Forum</a>
          </li>
        </ul>
        <!-- Original Login Tab -->
        <div class="navbar-collapse justify-content-end navbar-toggleable-md" id="navbarCollapse">
          <% if current_user %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Logged in as: <%= current_user.user_name %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signout">| &nbsp; Sign out</a>
              </li>
            </ul>
          <% else %>
            <a href="#">Sign In</a>
          <% end %>
        </div>
        <!-- End Original Login Tab -->

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a href="http://phpoll.com/register" class="dropdown-toggle" data-toggle="dropdown">Register <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
                  <div class="col-lg-12">
                      <div class="text-center"><h3><b>Register</b></h3></div>
                			<form id="ajax-register-form" action="http://phpoll.com/register/process" method="post" role="form" autocomplete="off">
                				<div class="form-group">
                					<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                				</div>
                				<div class="form-group">
                					<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                				</div>
                				<div class="form-group">
                					<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                				</div>
                				<div class="form-group">
                					<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                				</div>
                				<div class="form-group">
                					<div class="row">
                						<div class="col-xs-6 col-xs-offset-3">
                							<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Register Now">
                						</div>
                					</div>
                				</div>
                        <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                			</form>
                    </div>
                  </ul>
                </li>
                <li class="dropdown">
                    <a href="http://phpoll.com/login" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center"><h3><b>Log In</b></h3></div>
                            <form id="ajax-login-form" action="http://phpoll.com/login/process" method="post" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <input type="checkbox" tabindex="3" name="remember" id="remember">
                                            <label for="remember"> Remember Me</label>
                                        </div>
                                        <div class="col-xs-5 pull-right">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                            </form>
                        </div>
                    </ul>
                </li>
            </ul>
            <!-- ORRR https://bootsnipp.com/snippets/rgQgz  USE THIS-->
            <!-- New Login Tab -->
      <!-- </div> -->
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
    <nav id="navbar-footer" class="navbar fixed-bottom">
      <div class="container">
        <div class="row justify-content-between" id="navbar-footer-bottom">
          <div class="col-sm-6 text-center">
           <small><a href="/">Instagram</a> /
            <a href="/">Twitter</a> /
            <a href="/">LinkedIn</a> /
            <a href="/">Facebook</a></small>
          </div>
          <div class="col-sm-6 text-center">
            <small>©2017 Hop on Hoops. All Rights Reserved</small>
          </div>
        </div>
      </div>
    </nav>
    <!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-f8KXMKpM4oNFBeHU72FMeVyaSZI4GSQ&libraries=places&callback=initMap"s>
    </script> -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-f8KXMKpM4oNFBeHU72FMeVyaSZI4GSQ&libraries=places&callback=initAutocomplete"
    async defer></script>
  </body>
</html>
