<!DOCTYPE html>
<html>
  <head>
    <title>Hop On Hoops</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded sticky-top" style="background-color: #FFF">
          <a class="navbar-brand" href="/">Deadstock</a>
        </nav><br><br>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
