<!DOCTYPE html>
<html>
  <head>
    <title>Hop On Hoops</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <style>@import url('https://fonts.googleapis.com/css?family=Faster+One|Gruppo');</style>
  </head>
  <body>
    <nav id="navbar-header" class="navbar navbar-light bg-faded sticky-top navbar-toggleable-md">
      <h1 class="navbar-brand" href="/">
        <img id="logo" src="/img/ball.png" class="d-inline-block align-top" alt="Hop on Hoops logo">
        Hop on Hoops
      </h1>
      <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
        <ul class="navbar-nav">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courts">Courts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li>&nbsp&nbsp</li>
        </ul>
        <!-- Original Login Tab -->
        <!-- <div class="navbar-collapse justify-content-end navbar-toggleable-md" id="navbarCollapse">
          <% if current_user %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Logged in as: <%= current_user.user_name %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signout">| &nbsp; Sign out</a>
              </li>
            </ul>
          <% else %>
            <a href="#">Sign In</a>
          <% end %>
        </div> -->
        <!-- End Original Login Tab -->
        <div class="navbar-collapse navbar-toggleable-md" id="navbarCollapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="http://phpoll.com/register" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-l animated flipInX" role="menu">
                <div class="col-lg-12">
                  <% if current_user %>
                    <h6><b>Welcome back: </b><%= current_user.user_name %></h6>
                    <a href="/signout"><p>Sign Out</p></a>
                  <% else %>
                    <h4>Login:</h4>
                    <form class="" action="/login" method="post">
                      <div class="form-group">
                        <label for="user_name">User Name:</label>
                        <input class="form-control" type="text" name="user_name">
                      </div>
                      <div class="form-group">
                        <label for="user_password">Password:</label>
                        <input class="form-control" type="password" name="user_password">
                      </div>
                      <button class="btn btn-success" type="submit" name="button">Log In</button>
                    </form>
                    <br>
                    <small><a href="/sign_up">Not registered? Sign up here.</a></small>
                  <% end %>
                </div>
              </ul>
            </li>
          </ul>
        </div>
            <!-- The above code is from here: https://bootsnipp.com/snippets/3kNkX -->
            <!-- ORRR https://bootsnipp.com/snippets/rgQgz  USE THIS-->
            <!-- End New Login Tab -->
      <!-- </div> -->
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
    <nav id="navbar-footer" class="navbar fixed-bottom">
      <div class="container">
        <div class="row justify-content-between" id="navbar-footer-bottom">
          <div class="col-sm-6 text-center">
           <small><a href="/">Instagram</a> /
            <a href="/">Twitter</a> /
            <a href="/">LinkedIn</a> /
            <a href="/">Facebook</a></small>
          </div>
          <div class="col-sm-6 text-center">
            <small>©2017 Hop on Hoops. All Rights Reserved</small>
          </div>
        </div>
      </div>
    </nav>
    <!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-f8KXMKpM4oNFBeHU72FMeVyaSZI4GSQ&libraries=places&callback=initMap"s>
    </script> -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-f8KXMKpM4oNFBeHU72FMeVyaSZI4GSQ&libraries=places&callback=initAutocomplete"
    async defer></script>
  </body>
</html>
