/*a:hover {
  text-decoration: none;
}*/

#footer {
  font-family: 'Gruppo', cursive !important;
  /*text-align: center;*/
}

.navbar-brand {
  font-size: 4vw;
  font-family: 'Faster One', cursive !important;
}

#logo {
  width: 5.7vw;
}

#map{
  height: 400px;
  width: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
